<div class="info">
  <div class="weather info-block">
    <ng-container *ngIf="forecast$ | async as forecast">
      <div class="weather-day" *ngIf="currentTemp$ | async as temp">
        <h2>Сегодня / Today</h2>
        <div class="now">
          <h4>Сейчас / Now</h4>
          <span class="value">{{ temp.value }} <span class="celsium">°C</span></span>
          <img [src]="temp.icon" class="icon" />
        </div>

        <div class="forecast">
          <h4 *ngIf="forecast.nearest.type === 'morning'">
            Утром / Morning
          </h4>
          <h4 *ngIf="forecast.nearest.type === 'evening'">
            Вечером / Evening
          </h4>
          <span class="value">{{ forecast.nearest.value }} <span class="celsium">°C</span></span>
          <img [src]="forecast.nearest.icon" class="icon" />
        </div>
      </div>

      <div class="weather-day">
        <h2>Завтра / Tomorrow</h2>
        <div class="morning">
          <h4>Утром / Morning</h4>
          <span class="value">{{ forecast.tomorrow.morning.value }}
            <span class="celsium">°C</span></span>
          <img [src]="forecast.tomorrow.morning.icon" class="icon" />
        </div>

        <div class="evening">
          <h4>Вечером / Evening</h4>
          <span class="value">{{ forecast.tomorrow.evening.value }}
            <span class="celsium">°C</span></span>
          <img [src]="forecast.tomorrow.evening.icon" class="icon" />
        </div>
      </div>
    </ng-container>
  </div>

  <div class="currency info-block" *ngIf="currency$ | async as currency">
    <h2>Центр. банк / Central bank</h2>
    <div class="value">
      $ {{ currency.usd.value }}
      <ng-container *ngIf="currency.usd.up; then up; else down"></ng-container>
    </div>
    <div class="value">
      € {{ currency.euro.value }}
      <ng-container *ngIf="currency.euro.up; then up; else down"></ng-container>
    </div>

    <ng-template #up>
      <mat-icon class="up">arrow_drop_up</mat-icon>
    </ng-template>

    <ng-template #down>
      <mat-icon class="down">arrow_drop_down</mat-icon>
    </ng-template>
  </div>
</div>
