<div class="navigation">
  <a mat-raised-button routerLink="/" color="primary">
    Посмотреть
  </a>
  <button mat-stroked-button (click)="signOut()" class="signout">
    Выход
  </button>
</div>

<div class="uploaders">
  <app-uploader [maxSizeKb]="10000" [title]="'Загрузить слайд'" storageFolder="testSlides"
    fileTypes="['image', 'video']" (done)="onUploadSlideDone($event)" multiple="true" (error)="onUploadError($event)">
  </app-uploader>
  <app-uploader [maxSizeKb]="4000" [title]="'Загрузить анимацию'" storageFolder="foregrounds" fileTypes="['image']"
    (done)="onUploadForegroundDone($event)" multiple="true" (error)="onUploadError($event)"></app-uploader>
</div>

<div class="settings">
  <div class="column">
    <app-slides-interval></app-slides-interval>
    <app-slides-list></app-slides-list>
  </div>
  <div class="column">
    <app-foreground-list></app-foreground-list>
  </div>
</div>
