:host {
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  button,
  a {
    margin: 15px;
  }
}

.settings {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .column {
    display: flex;
    flex-direction: column;
    margin: 15px;
  }
}

.uploaders {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  app-uploader {
    margin: 15px;
  }
}
