<ng-container *ngIf="slides$ | async as slides">
  <ng-container *ngIf="foregrounds$ | async as foregrounds">
    <app-slider [slides]="slides" [foregrounds]="foregrounds"></app-slider>
  </ng-container>
</ng-container>

<app-info></app-info>

<!-- <div class="foreground" [style.background-image]="'url(/assets/mini_smile.webp)'"></div>
<div class="foreground" [style.background-image]="'url(/assets/maslenica_gif.gif)'"></div> -->
