:host {
  display: flex;
  overflow: hidden;
  background-color: #2b2a29;
}
.foreground {
  // background-image: url(/assets/mini_smile.webp);
  z-index: 1000;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
app-slider {
  display: block;
  width: 56.25vw;
  height: 100vh;
}

app-info {
  display: block;
  height: 100vh;
  width: 43.75vw;
}
